@import "./mixins";
.help__main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0px;
}
.help__left__img-desc {
  display: flex;
  align-items: center;
  gap: 40px;
  font-size: 20px;
}
.help__left__title {
  padding-top: 40px;
  font-size: 50px;
  width: 600px;
}
.help__left__desc {
  font-size: 19px;
  width: 700px;
  padding: 20px 0px;
}
.help__left__btn {
  @include btn-style;
  padding: 8px 30px;
  border-radius: 5px;
  margin-top: 30px;
}
.help__left__btn:hover {
  background-color: #70c174;
  color: white;
  box-shadow: 5px 5px 2px gray;
  transition: 0.6s;
}
.help__bottom__title {
  padding: 30px 0px;
  text-transform: uppercase;
}
.help__bottom__imgs {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1285px) {
  .help__main {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .help__left {
    order: 2;
    text-align: center;
  }

  .help__left__title {
    width: 100%;
    text-align: center;
  }
  .help__left__desc {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 1100px) {
  .help__bottom__imgs {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
  }
}
@media (max-width: 576px) {
  .help__bottom__imgs {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
  }
  .help__right__img img{
    width: 100%;
  }
}
@media (max-width: 376px) {
  .help__left{
    text-align: center;
  }
  .help__bottom__imgs {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
 
  }
  .help__left__title{
    font-size: 22px;
  }
  .help__left__desc{
    font-size: 12px;
  }
  .help__left__btn{
    font-size: 12px;
    padding: 3px 7px;
  }
}
