@import "./mixins";


.project__infos__img-desc{
    display: flex;
    align-items: center;
    gap: 20px;
}
.project__infos__title{
    font-size: 45px;
    width: 550px;
    margin-left: 80px;
    padding: 30px 0px;
}
.project__infos__cards{
    display: flex;
    justify-content: space-evenly;
    padding: 30px 0px;
}
.project__infos__cards__card{
    border-radius: 13px;
    padding: 80px 55px;
    background-image: url(../imgs/cRERIGHTIMG.png);
    object-fit: cover;
}
.project__infos__cards__card-title{
    font-size: 24px;
    width: 200px;
    color: white;
}
.project__infos__cards__card-desc{
    font-size: 14px;
    width: 240px;
    padding: 25px 0px;
    color: white;
}
.project__infos__cards__card__btns-btn{
    @include btn-style;
    padding: 9px 20px;
    font-size: 15px;
}
.project__infos__cards__card__btns-btn:hover{
    background-color: black;
    color: white;
    box-shadow: 5px 5px 2px gray;
    transition: 0.6s;
}