@import "../utils/mixins";

.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: white;
  box-shadow: 2px 2px 10px skyblue;

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;

    &__list {
      display: flex;
      align-items: center;
      font-size: 19px;
      gap: 20px;
    }
    &__item {
      padding: 10px;
      border-radius: 16px;
    }
    &__item:hover {
      background-color: black;
      color: white;
      box-shadow: 5px 5px 2px gray;
      transition: 0.6s;
    }
    &__close {
      display: none;
    }

    &__btns {
      display: flex;
      align-items: center;
      gap: 10px;
      &__btn {
        @include btn-style;
      }
      &__btn:hover {
        background-color: black;
        color: white;
        box-shadow: 5px 5px 2px gray;
      }
      &__btn-bar {
        display: none;
      }
    }

    @media (max-width: 980px) {
      &__list {
        position: fixed;
        top: 0;
        left: -100%;
        flex-direction: column;
        background-color: white;
        justify-content: center;
        padding: 40px 0px;
        width: 60%;
        transition: 0.6s;
        height: 100vh;
        &-show {
          left: 0;
        }
      }
      &__close {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 6px 10px;
        border-radius: 50%;
        transition: 0.4s;
        &:hover {
          background-color: red;
          color: white;
          cursor: pointer;
        }
      }

      &__btns {
        &__btn-bar {
          display: block;
          font-size: 23px;
          cursor: pointer;
          background-color: transparent;
          border: none;
        }
      }
    }
  }
}
@media (max-width: 325px) {
  .header__nav {
    flex-wrap: wrap;
  }
}
